.recommended-friends {
    margin: 25px 0;
    padding: 25px 0;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-friends__title {
    font-size: 14px;
    color: var(--gray);
}
.recommended-friends span {
    display: block;
    margin: 60px 0;
    text-align: center;
    font-size: 18px;
    color: var(--gray);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    opacity: 0.8;
}
.open-chat__header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-post__title {
    margin-bottom: 7px;
    font-weight: 600;
}
.open-post__hashtags {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: var(--gray);
}
.open-post__members {
    display: flex;
    align-items: center;
}
.open-post__members img {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.open-post__member-count {
    font-size: 14px;
    color: var(--gray);
}
.open-post__members .divider {
    margin: 0 5px;
    width: 1px;
    height: 13px;
    background-color: rgba(0, 0, 0, 0.2);
}
.open-post__member-status {
    color: #ffb0e0;
}
.open-post__photo {
    position: relative;
}
.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.open-post__heart-count {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 20px;
    background: var(--gray);
    font-size: 12px;
    color: #fff;
}
.open-post__heart-count span {
    margin-left: 5px;
}

@keyframes heartBeat {
    0% {
        color: #fff;
        transform: none;
    }
    50% {
        color: red;
        transform: scale(1.5);
    }
    100% {
        color: #fff;
        transform: none;
    }
}
.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 0.5s linear infinite;
}
